Plugins>ImageJ on GPU (CLIJx)>Custom>Robert Haase, "Tribolium_Surface_Removal", net.haesleinhuepf.clijx.plugins.Tribolium_Surface_Removal

Plugins>ImageJ on GPU (CLIJx-Assistant)>Custom>Robert Haase, "Tribolium_Surface_Removal_1", net.haesleinhuepf.clijx.incubator.interactive.generic.GenericIncubatorPlugin("CLIJx_tribolium_Surface_Removal")

